<div>
<!-- {% if site.github %}<a id="github" class="social-btn" href="http://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square"></i></a>{% endif %}
{% if site.linkedin %}<a id="linkedin"class="social-btn" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>{% endif %}
{% if site.twitter %}<a id="twitter" class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>{% endif %}
{% if site.facebook %}<a id="facebook" class="social-btn" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>{% endif %}
{% if site.instagram %}<a id="instagram" class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" data-fa-transform="shrink-4" data-fa-mask="fas fa-square"></i></a>{% endif %} -->
</div>